.checkbox-button{
  
}
.checkbox-button label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
}
.checkbox-button input{
  font-size: 1.6rem;
    height: 47px;
    background: #fff;
    width: 19px;
    height: 19px;
    outline: none;
    border: 0px;
    position: absolute;
    top: -3px;
    z-index: 2;
    opacity: 0;
}
.checkbox-button input[type=checkbox]:checked{
    opacity: 1;
}
.checkbox-button label span{
  position: relative;
  padding-left: 35px;
font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: #000000;
}
.checkbox-button label span:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  z-index: -1;
  line-height: 20px;
}
.checkbox-button label span:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #8D8D8D;
  content: '';
  z-index: 0;
  background: #8d8d8d;
}