/*.masonry { 
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    width: 100%;
  }
  
  .grid-item {
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
  }
  .grid-item img{
      width: 100%;
  }
  .grid-item:nth-child(4n+1) {
    width: 250px;
  }
  .grid-item:nth-child(4n+1):nth-child(4n+2) {
    width: 325px;
  }
  .grid-item:nth-child(4n+1):nth-child(4n+3) {
    width: 180px;
  }
  .grid-item:nth-child(4n+1):nth-child(4n+4) {
    width: 380px;
  }*/

  /*
  .masonry { 
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    width: 100%;
  }
  
  .masonry-brick {
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
    overflow: hidden;
  }
  .masonry-brick img{
      width: 100%;
      height: 100%;
  }
  .masonry-brick:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 325px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 180px;
  }
  .masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 380px;
  }*/
  /*
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
  }
  */
 /*
  .img-default{
    display: none;
  }
  .grid-img-style-1 {
    columns: 3 200px;
    column-gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }
  .grid-img-style-1 .text-content{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 20%;
    transform: translate(0%,0);
  }
  .grid-img-style-1 .item:hover .text-content{
    display: block;
  }
  .grid-img-style-1 .item:hover:before{
    display: block;
  }
  .grid-img-style-1 .text-content a{
    color:#fff;
  }
  .grid-img-style-1 .text-content a h2,
  .grid-img-style-1 .text-content a h4,
  .grid-img-style-1 .text-content a p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grid-img-style-1 .text-content a h2{
    font-size: 64px;
  }
  .grid-img-style-1 .text-content a h4{
    font-size: 36px;;
  }
  .grid-img-style-1 .text-content a p{
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 30px;
  }
  .grid-img-style-1 .item {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    position: relative;
  }
  .grid-img-style-1 .item:before {
    display: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(49, 129, 36, 0.93);
    z-index: 1;
  }
 
  .grid-img-style-1 .item:hover img {
    filter: grayscale(0);
  }
  .grid-img-style-1 .item:hover {
    transition: 0.4s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
 
  .grid-img-style-1 .item img {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }
  .grid-img-style-1 .item p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
  }*/
  
  /* css popup video */
.slider-nav-video{
  position: relative;
}
.slider-nav-video button{
  position: absolute;
  top: 35%;
}
.slider-nav-video img {
  max-width: 100%; }
.slider-nav-video .slick-list{
  padding: 0 !important;
}
.slider-nav-video .item-vi{
  position: relative;
}
.slider-nav-video .item-vi span{
     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    background: #ffffffb5;
    border-radius: 50%;
}
.slider-nav-video .item-vi span img{
         margin-top: 22%;
    margin-left: 37%;
}
.slider-nav-video .item-vi:hover{
  cursor: pointer;
}
.slider-for-video .item{
  width: 60%;
  height: 250px;
}
.slider-for-video .item iframe {
  width: 100%; }

.slider-nav slick-slide:hover {
  cursor: pointer; }

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0; }
  .slick-prev:before, .slick-next:before {
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 60px;
    opacity: 1;
    width: 30px; }
  .slick-prev:hover:before, .slick-next:hover:before {
    opacity: .8; }

.slick-prev {
  left: 0; }
  
.slick-next {
  right: 0; }
  
.modal-content {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  border-radius: 0;
  margin-left: 1px; }
  .modal-content .modal-body {
    padding: 0; }
    .modal-content .modal-body iframe {
      margin-bottom: -5px; }
  .modal-content .modal-header {
    border: 0 none;
    height: 0;
    min-height: 0;
    padding: 0; }
    .modal-content .modal-header .close {
      background-color: #000000 !important;
      border: 2px solid #ffffff !important;
      border-radius: 13px;
      color: #ffffff;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: 700;
      height: 26px;
      opacity: 1;
      padding-bottom: 0;
      position: absolute;
      right: -13px;
      text-shadow: none;
      top: -13px;
      width: 26px;
      z-index: 1; }
.slick-initialized .slick-slide{
  padding: 15px;
  overflow: hidden;
}
/* css popup video */