@charset "UTF-8";
.header-mobile {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 6;
  background-color: #fff;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.17);
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}
.top-header .menu-mobile .humburger span {
  display: block;
  width: 20px;
  height: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #318124;
}
.top-header .menu-mobile-active .humburger span:last-child {
  width: 15px;
}
.top-header .logo-mobile {
  overflow: hidden;
  width: 135px;
}
.top-header .logo-mobile img {
  width: 100%;
}
.top-header .cart-icon {
  width: 24px;
  height: 24px;
}
.top-header .cart-icon a {
  position: relative;
}
.top-header .cart-icon a span {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ff0000;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  line-height: normal;
  text-align: center;
  top: -9px;
  right: -7px;
  line-height: 18px;
  font-size: 10px;
}
.top-header .cart-icon img {
  width: 100%;
}

.search-mobile {
  margin-top: 10px;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}
.search-mobile input {
  width: 100%;
  border: 1px solid #318124;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
}
.search-mobile input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #949494;
}
.search-mobile a {
  position: absolute;
  right: 10px;
  top: -3px;
}

.list-menu-mobile {
  display: none;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  height: 500px;
  overflow: scroll;
  padding-bottom: 15px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.17);
}
.list-menu-mobile .list-category {
  padding-left: 0;
  padding-right: 0;
}
.list-menu-mobile .list-category ul {
  padding-left: 0;
  border-bottom: 1px solid #E9E9E9;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-bottom: 0;
}
.list-menu-mobile .list-category ul li {
  list-style: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.list-menu-mobile .list-category ul li a {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.list-menu-mobile .list-category ul li a:hover span {
  color: #318124;
  font-weight: bold;
}
.list-menu-mobile .list-category ul li a:hover .hover {
  display: block;
}
.list-menu-mobile .list-category ul li a:hover img {
  display: none;
}
.list-menu-mobile .list-category ul li a .hover {
  display: none;
}
.list-menu-mobile .list-category ul li a img {
  width: 26px;
}
.list-menu-mobile .list-category ul li a span {
  margin-left: 20px;
  font-size: 14px;
  color: #1C1C1C;
}
.list-menu-mobile .online_left .online {
  float: left;
}

.info-acc-mobile {
  width: 100%;
  margin-top: 10px;
}
.info-acc-mobile .name-acc .img {
  width: 36px;
  height: auto;
}
.info-acc-mobile .name-acc .img a {
  padding: 0;
}
.info-acc-mobile .name-acc .img a img {
  width: 100%;
}
.info-acc-mobile .name-acc .name {
  padding-top: 0px;
}
.info-acc-mobile .name-acc .name a {
  padding: 0;
  display: block;
  margin: 0;
}
.info-acc-mobile .list-1 {
  margin-top: 0;
}
.info-acc-mobile .list-1 li {
  padding-left: 5px;
}

.hotline-mobile {
  display: flex;
  align-items: center;
}
.hotline-mobile p {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ff0000;
  margin-right: 10px;
}
.hotline-mobile p span {
  width: 100%;
  display: block;
  text-align: left;
}
.hotline-mobile p a {
  color: #ff0000;
  font-weight: 600;
}

.banner-mobile {
  padding-top: 80px;
  position: relative;
  margin-bottom: 5px;
}
.banner-mobile img {
  width: 100%;
}

.grid-1-mobile {
  background: #FFFFFF;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  position: absolute;
  top: 95%;
  display: inline-block;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 2.5%;
}
.grid-1-mobile .item {
  text-align: center;
  padding: 0 7.5px;
}
.grid-1-mobile .item img {
  width: 20px;
}
.grid-1-mobile .item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  color: #000000;
}

.product-hot-mobile {
  background-image: none !important;
  padding-top: 45px !important;
  margin-bottom: 15px !important;
  padding-bottom: 0 !important;
}
.product-hot-mobile .title-color-mb {
  margin-top: 25px;
}
.product-hot-mobile .title-color-mb h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #318124;
  text-align: center;
  text-transform: uppercase;
}

.title-default-mobile {
  width: 100%;
  margin-top: 15px;
}
.title-default-mobile h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
}

.option-choose {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.option-choose .active {
  background: #318124;
  color: #fff;
}
.option-choose a {
  background: #C5E6C0;
  border-radius: 3px;
  color: #318124;
  width: 30%;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}
.option-choose a:hover {
  background: #318124;
  color: #fff;
}

.option-choose-style-2 {
  display: flex;
  justify-content: space-between;
}
.option-choose-style-2 .active {
  background: #C5E6C0;
  color: #318124;
  border: none;
}
.option-choose-style-2 a {
  background: transparent;
  border-radius: 3px;
  color: #4E4E4E;
  width: 30%;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #C4C4C4;
}
.option-choose-style-2 a:hover {
  background: #C5E6C0;
  color: #318124;
  transition: 0.4s;
}

.option-choose-style-1 {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 -1%;
}
.option-choose-style-1 .active {
  background: #318124;
  color: #fff;
}
.option-choose-style-1 .active a {
  color: #fff;
}
.option-choose-style-1 li {
  list-style: none;
  border: 0.5px solid #318124;
  background: #fff;
  border-radius: 3px;
  width: 23%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 1px;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 5px;
}
.option-choose-style-1 li a {
  color: #1C1C1C;
  font-size: 14px;
}
.option-choose-style-1 li:hover {
  background: #318124;
}
.option-choose-style-1 li:hover a {
  color: #fff;
}

.title-video-mobile h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.video-item-mobile {
  background: #E5E5E5 !important;
}

.slider-new-mobile {
  display: inline-block;
  width: 100%;
}

.breadcrumb-mobile {
  margin-bottom: 0px;
  margin-top: 30px;
}
.breadcrumb-mobile .ns-breadcrumb {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}
.breadcrumb-mobile .ns-breadcrumb .active {
  color: #318124;
  background: transparent;
}
.breadcrumb-mobile .ns-breadcrumb li {
  list-style-type: none;
  float: left;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-right: 15px;
  padding-left: 20px;
}
.breadcrumb-mobile .ns-breadcrumb li:first-child {
  padding-left: 0;
}
.breadcrumb-mobile .ns-breadcrumb li:first-child:before {
  display: none;
}
.breadcrumb-mobile .ns-breadcrumb li a {
  color: #000000;
}
.breadcrumb-mobile .ns-breadcrumb li a:hover {
  text-decoration: none;
}
.breadcrumb-mobile .ns-breadcrumb li:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  left: 0px;
  top: 27%;
  transform: rotateZ(45deg);
}

.checkbox-th {
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
}
.checkbox-th label {
  width: 50%;
  float: left;
}

.checkbox-gb {
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
}
.checkbox-gb label {
  width: 50%;
  float: left;
}

.checkbox-nxs {
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
}
.checkbox-nxs label {
  width: 50%;
  float: left;
}

.top-choose {
  display: flex;
  justify-content: space-between;
  background: #C5E5C0;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.top-choose a {
  padding-left: 10px;
  width: 33%;
  position: relative;
}
.top-choose a:last-child:before {
  display: none;
}
.top-choose a:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background: #1C1C1C;
  right: 0;
  top: 2px;
}
.top-choose a:after {
  position: absolute;
  content: url(../../img/bottom1.png);
  right: 15px;
}
.top-choose a:last-child {
  border: none;
}
.top-choose a span {
  color: #1C1C1C;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.choose-content {
  width: 100%;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
}

.option-choose-style-3 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.grid-2-mobile {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
}
.grid-2-mobile .item {
  text-align: center;
  padding: 0 7.5px;
}
.grid-2-mobile .item .img {
  width: 100%;
  height: 24px;
  margin-bottom: 5px;
}
.grid-2-mobile .item .img img {
  max-width: 100%;
}
.grid-2-mobile .item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.grid-2-mobile .item a:hover {
  color: #318124;
}

.title-default-mobile-style-2 {
  display: flex;
  justify-content: space-between;
}
.title-default-mobile-style-2 h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.title-default-mobile-style-2 a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6B6B6B;
  margin-top: 15px;
  padding-right: 25px;
  position: relative;
}
.title-default-mobile-style-2 a:hover {
  color: #318124;
}
.title-default-mobile-style-2 a:before {
  position: absolute;
  content: "ï„ƒ";
  font-family: fontawesome;
  transform: rotateZ(-90deg);
  right: 0;
}

.review-left span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #EC9B00;
}
.review-left span:last-child {
  color: #000;
  font-weight: normal;
  margin-left: 10px;
}