.ctsp-box .tablink {
  background-color: #fff;
  color: #000;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 25%;
  border: 1px solid #E9E9E9;
  width: 70px;
  height: 57px;
}
.ctsp-box .tablinkvideo{
  position: relative;
  
}
.ctsp-box .tablinkvideo:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #3181245c;
  top:0;
  left: 0;
}


/* Style the tab content */
.ctsp-box .tabcontent {
  color: #000;
  display: none;
  padding: 10px;
  text-align: center;
  border: 1px solid #E9E9E9;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.ctsp-box .tabcontent a{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.ctsp-box .tabcontent a img{
 width: 100%;
}
