.slider-nav img {
  max-width: 100%;
}

.slider-for img {
  width: 100%;
}

.slider-nav slick-slide:hover {
  cursor: pointer;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0;
}
.slick-prev:before, .slick-next:before {
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  display: block;
  height: 60px;
  opacity: 1;
  width: 30px;
}
.slick-prev:hover:before, .slick-next:hover:before {
  opacity: 0.8;
}

.slick-prev {
  left: 0;
}
.slick-prev:before {
  background-image: url("http://www.flagshipsd.com/sites/default/files/userfiles/images/slick-prev.png");
}

.slick-next {
  right: 0;
}
.slick-next:before {
  background-image: url("http://www.flagshipsd.com/sites/default/files/userfiles/images/slick-next.png");
}

.modal-content {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  border-radius: 0;
  margin-left: 1px;
}
.modal-content .modal-body {
  padding: 0;
}
.modal-content .modal-body iframe {
  margin-bottom: -5px;
}
.modal-content .modal-header {
  border: 0 none;
  height: 0;
  min-height: 0;
  padding: 0;
}
.modal-content .modal-header .close {
  background-color: #000000 !important;
  border: 2px solid #ffffff !important;
  border-radius: 13px;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  opacity: 1;
  padding-bottom: 0;
  position: absolute;
  right: -13px;
  text-shadow: none;
  top: -13px;
  width: 26px;
  z-index: 1;
}