@media screen and (max-width: 376px){
	.grid-1-mobile .item span{
		font-size: 7px;
	}
	.comment-user .cmt-text {
	    width: 79% !important;
	}
}

@media screen and (min-width: 990px){
	.header-mobile, .footer-mobile{
		display: none;
	}
	.maps-slider-acount .container {
		top:6%;
		left: 21%;
	}
	.grid-img-style-1 .text-content a h4{
		font-size: 14px;
		margin-top:0;
	}
	.grid-img-style-1 .text-content a h2{
		font-size: 20px;
		margin-top: 0;
	}
	.grid-img-style-1 .text-content a p span{
		border: 1px solid #fff;
    	padding: 10px 20px;
	}
	.grid-img-style-1 .text-content a p{
		font-size: 14px;
	}
	
	
	 
}
@media screen and (max-width: 990px){
	.header_top, .menu_a_cate, .footer-pc{
		display: none;
	}
	.video-page-12 .item_video{
	  width: 50%;
	}
	.box-qa{
		width: 100%;
	    display: flex;
	    flex-flow: row wrap;
	    padding-left: 15px;
    	padding-right: 15px;
        margin-top: 0;
    	margin-bottom: 0;
	}
	.box-qa .item-qa .img{
		width: 96%;
		margin:auto;
	}
	.banner-style-2 .title h2{
		margin-top: 35px;
    	margin-bottom: 0;
	}
	.banner-style-2 .title p{
		margin-top: 5px;
    	margin-bottom: 0;
	}
	.col-introduce{
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 576px) {
  .slider {
    overflow: hidden;
  }
  .main_s{
  	display: none;
  }
  body{
    background: #E5E5E5 !important;
  }
  .list_product .item_product .text .star{
  	display: none;
  }
   .list_product .item_product .text .add_cart{
  	display: none;
  }
  .sock-reponsive{
  	width: 225px;
  }
  .like_page{
  	background: #E5E5E5;
  }
  .slick_nav .owl-nav{
  	display: none;
  }
  .video_main{
  	padding: 0 !important;
  }
  .qc{
  	margin-bottom: 15px !important;
  	margin-top: 15px;
  }
  .news_main {
    margin: 15px 0px !important;
	}
    .bh{
    	margin-top:0 !important;
    }
    .list_news{
    	padding-bottom: 0 !important;
    }
    .vequangtrung{
    	padding: 0;
    	margin-top: 25px;
    }
    .footer-item{
    	padding-top:0 !important;
    }
    .list-footer-1 .icon i{
    	width: auto;
    	margin-right: 30px;
    }
  	.button-2{
  		display: inline-block !important;
  	}
  	.muangay-btn,.themvaogio-btn{
  		width: 100%;
  		margin-left: 0;
  		margin-right: 0;
  		margin-top: 3px;
  		margin-bottom: 4px;
  	}
  	.themvaogio-btn:before{
  		left: 95px;
    	top: 6px;
  	}
  	.pro-detail-7 .lienhe-page7 {
	    text-align: center;
	}
	.form-support{
		margin-left: 15px;
		margin-right: 15px;
	}
	.list_product .item_product{
		border-top: 1px solid #e9e9e9 !important;
	}
	.comment-user .cmt-text{
		width: 80%;
	}
	.detail-rate-title .rate-title {
	    display: block;
	}
	.detail-rate-title .rate-title .danhgia{
		display: flex;
	}
	.rate-title{
		padding: 0;
	}
	.button-7{
		padding-top:29px;
		padding-left: 0;
		padding-right:0;
		padding-bottom: 0;
	}
	.detail-rate-title .btn-like{
		background: #2B62D1;
	    border-radius: 5px;
	    margin-left: 0px;
	    position: relative;
	    padding-left: 23px;
	    padding-right: 5px;
	    color: #fff;
	    font-style: normal;
	    padding-top: 1px;
	    padding-bottom: 2px;
	    font-size: 11px;
	}
	.detail-rate-title .btn-like:before {
	    position: absolute;
	    content: url(../../img/likemini.png);
	    left: 5px;
	}
	.detail-rate-title .btn-share{
		background: #2B62D1;
	    border-radius: 5px;
	    position: relative;
	    padding-left: 23px;
	    padding-right: 5px;
	    margin-left: 8px;
	    color: #fff;
	    font-style: normal;
	    padding-top: 1px;
	    padding-bottom: 2px;
	    font-size: 11px;
	}
	.detail-rate-title .btn-share:before {
	    position: absolute;
	    content: url(../../img/sharemini.png);
	    left: 5px;
	}
	.item-info-7{
		background: #fff;
		border-top: 1px solid #C4C4C4;
	}
	.item-info-7 .title-info p{
		margin-top:0;
	}
	.link-section .show-item{
		padding-left: 15px;
	}
	.lienhe-page7 p{
		margin-top: 5px;
	}
	.date-item-grid-1{
		display: inherit;
    	text-align: center;
	}
	.review-left{
	  text-align: left;
	  margin-top:10px;
	  margin-bottom: 5px;
	}
	.review-right {
		margin-top:5px;
		margin-bottom: 5px;
	}
	.review-right .evaluation .eval-index img{
		margin-left: 0;
	}
	.post-style-3{
		margin-top:15px;
	}
	.item_page h3{
		margin-bottom: 10px !important;
	}
	.item_page{
		margin-bottom: 15px !important;
	}
	.detail-pro-page7{
		background:#fff;
		padding-top:10px;
	}
	.detail-product{
		background:#fff;
		margin-top: 15px;
	}
	.cate_product {
	    margin-bottom: 0px !important;
	}
	.review-product-7{
		margin-top: 15px;
		background: #fff;
	}
	.comment-page{
		background:#e5e5e5;
		padding-bottom: 30px;
	}
	.comment-page .link-item {
	    border-top: 1px solid #fff;
	    border-bottom: 1px solid #fff;
	}
	.detail-pr-right{
		background: #fff;
	}
	.item-info-7 .info-default-7 li{
		padding-left: 12%;
	}
	.item-info-7 .info-default-7 li:before{
		top: 5px;
	}
	.order-left {
	  overflow: hidden;
	  padding-bottom: 20px;
	}
	
	.info-product table tr td p{
		font-size: 12px;
	}
	.breadcrumb-mobile{
		margin-top: 15px;
	}
	.banner .title h2:before{
		bottom: -5px;
	}
	.system-show, .maps-system{
		width: 100%;
	}
	.search-system{
		display: inherit;
		padding-left: 15px;
		padding-right: 15px;
	}
	 .search-system .select1, .search-system .select2,
	.search-system .select3{
		width: 100% !important;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.search-system .btn-search-style-2, .search-system .btn-address{
		width: 100%;
		padding-top: 10px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.search-system input{
		padding-top: 17px;
    	padding-bottom: 17px;
    	margin-bottom: 5px;
    	width: 100% !important;
		margin-top: 5px;
	}
	.maps-slider-acount .container{
		position: inherit;
		left:0;
	}
	
	.slider-info .item .address .btn-style-1{
		width: 65%;
	    display: block;
	    font-size: 13px;
	    padding-left: 15px;
	    margin-left: 18%;
	    padding-top: 6px;
	    padding-bottom: 6px;
	}
	.title{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.title-style-1{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.title-color-techni{
		margin-top: 20px;
	    background: #e5e5e5;
	    padding-left: 15px;
	}
	.title-color-techni{
		margin:0;
		padding-bottom: 10px;
	}
	.detail-pr-left{
		overflow: hidden;
	}
	.link-section{
		background: #e5e5e5;
	    width: 110%;
	    margin: 0 -15px;
	}
	.link-section .title p{
		padding-left: 15px;
	}
	.detail-button{
		background:#fff;
	}
	.detail-button p{
		margin-bottom: 15px;
	}
	.review-title{
		background: #e5e5e5;
	}
	.title-default-mobile-style-2{
		background: #e5e5e5;
	    width: 110%;
	    margin: 0 -15px;
	}
	.title-default-mobile-style-2 h2{
		padding-left: 15px;
	}
	.form-lienhe{
		width: 100%;
	}
	.contact-form .item-part{
		width: 100%;
	}
	.contact-form-tr{
		padding-bottom: 0;
	}
	.video-page-12{
		width:100%;
		margin: 0;
	}
	.video-page-12 .item_video{
		padding:0;
		width:100%;
		margin-top:3px;
		margin-bottom: 3px;
	}
	.video-page-12-style-2{
		padding-left:0;
	}
	.new-left .detail-post-title .date-item-grid-1{
		text-align: left;
	}
	.introduce-pr{
		margin-top: 10px;
		margin-bottom: 10px;
		    padding-left: 5px;
		    padding-right: 5px;
	}
	.introduce-pr .content{
		margin-left: 10px;
	}
	.introduce-pr .content .btn-style-3 {
		width: 100%;
	}
	.comment-top{
		background: transparent;
	}
	.post-grid-style-1 .date-item-grid{
		display: flex !important;
	}
	.new-left .date-item-grid{
		display: block;
    	text-align: center;
	}
	.new-left .date-item-grid p{
		margin-bottom: 10px;
	}
	.content-introduce h2{
		padding:0;
	}
	.banner-style-2, .banner-style-2:before{
		position: inherit;
	}
	.banner-style-2 .title{
		position: inherit;
		width: 100%;
		transform: none;
	}
	.banner-style-2 .title h2{
		color: #000;
		margin-top:10px;
		margin-bottom: 10px;
	}
	.banner-style-2 .title p{
		line-height: 30px;
		color: #000;
		margin-top:20px;
		margin-bottom: 10px;
	}
	.banner-style-2 .title h2:before{
		background: #000;
	}
	.introduce-page{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.content-introduce-style-2{
		padding-top:0;
	}
	
	.introduce-style-2{
		padding:0;
	}
	.achievements-page{
		padding-top:0;
		padding-bottom: 0;
	}
	.recruitment-page16{
		margin-top:15px;
		margin-bottom: 15px;
	}
	.content-recruitment{
		padding-right:15px;
		padding-top:30px;
	}
	.recruitment-page16 .img-page16 img{
		display: none;
	}
	.item-staff .item{
		float: left;
	    padding-left: 30px;
	    padding-right: 0;
	    margin-top: 0;
	}
	.staff-page{
		margin-bottom: 40px;
	}
	.item-right:before {
	    left: -10px;
	}
	.item-right:after {
	    left: -2px;
	}
	.item-staff-left:after{
		display: none;
	}
	.item-left:after {
	    left: -2px;
	}
	.item-left:before {
	    left: -10px;
	}
	/* grid anh mh 16 */
	.grid-image-16 .grid-item .column .img-box-grid .text{
		top:-40px;
	}
	.grid-image-16 .grid-item .column .img-box-grid .text img{
		width: 60px;
		margin-bottom: 5px;
	}
	.grid-image-16 .grid-item .column .img-box-grid .text h2,
	.grid-image-16 .grid-item .column .img-box-grid .text h4{
		font-size: 8px !important;
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.grid-image-16 .grid-item .column .img-box-grid .text p{
		font-size: 4px;
    	margin-top: 10px;
	}
	body h2{
		font-size: 18px !important;
	}
	.colcation-item{
		display: inherit;
		padding: 10px 10px 10px 60px;
			margin: 7.5px 15px;
			position: relative;
	}
	.colcation-item .btn-location{
		position: absolute;
		top: 58%;
    	right: 3px;
	}
	.colcation-item p{
		margin-top: 0px;
	}
	.colcation-item h4{
		margin-top:0;
	}
	.list-acc-box{
		display: inherit;
	}
	.contact-toby-1 .container .row .mapslider-item{
		position: inherit;
		overflow: hidden;
	}
	.contact-toby-1 .container .row .mapslider-item .map-slider{
		width: 100%;
		margin-top: 10px;
	}
	.toby-left{
		padding-left: 15px;
	}
	.banner-style-1 .title{
		position: absolute;
	    display: inline-block;
	    width: 100%;
	    padding-left:15px;
	    padding-right:15px;
	}
	.banner-style-1 .title .content{
		margin-top: 20px;
	}
	.banner-style-1 .title .content h3{
		font-size: 14px;
	    border: none;
	    -webkit-text-stroke-color: transparent;
	    margin-top:10px;
	    margin-bottom: 0;
	    color:#fff;
	    line-height: 1;
	}
	.btn-style-yellow{
		font-size: 12px;
	}
	.banner-style-1 .title .content p{
		font-size: 8px;
		margin:0;
		line-height: 1;
	}
	.shopping-item-style-1 .content-shopping{
		background-image: url(../../img/shop1.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 20px;
	    padding-bottom: 20px;
	    position: relative;
	    margin-left: 15px;
	    margin-right: 15px;
	    border-radius: 9px;
	    overflow: hidden;
	    z-index: -2;
	    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.17);
	}
	.shopping-item-style-1 .content-shopping:before{
		position: absolute;
	    content: '';
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background:#ffffffc2;
	    z-index: -1;
	}
	.shopping-item-style-1 .content-shopping .title p, .shopping-item-style-1 .content-shopping .title{
		margin-top:5px;
		margin-bottom: 5px;
	}
	.shopping-item-style-1 .img-shopping img{
		display: none;
	}
	.shopping-item-style-1{
		margin-top:15px;
	}
	.shopping-item-style-1:nth-child(2) .text p{
		padding-right: 70px;
    	padding-left: 0px !important;
	}
	.shopping-item-style-1:nth-child(2) .content-shopping .title:after{
		right: -5px;
	}
	.shopping-item-style-1 .content-shopping .title:after{
		left:0px;
	}
	.breadcrumb-page{
		margin-top:10px;
		margin-bottom: 10px;
	}
	.policy{
		margin-top: 25px;
	}
	.policy .title-dark{
		margin-bottom: 25px;
	}
	.call-now{
		background-image: none;
		height:auto;
		padding-top:20px;
		margin-top:20px;
	}
	.call-now .call-item{
		margin-top:0;
	}
	.call-now .call-item p{
		font-size: 18px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	    line-height: 1;
	}
	.call-now .call-item p span{
		font-size: 18px;
	}
	.call-now:before {
	    background: #c5e6c0;
	}
	.form-login{
		width: 100%;
		padding-left:15px;
		padding-right:15px;
		margin-right: 0;
	}
	.background-login{
		padding-top:50px;
		padding-bottom: 50px;
		position: relative;
		z-index: 0;

	}
	.background-login:before{
		position: absolute;
		content: '';
		width:100%;
		height: 100%;
		top:0;
		left:0;
		background:#ffffff75;
		z-index: -1;
	}
	.login-acc{
		width: 100%;
	}
	.name-acc .name{
		display: grid;
	}
	.list-1{
		margin-top:0;
	}
	.form-info-acc{
		padding-top:0;
	}
	.form-info-acc .item{
		width: 100%;
		height: auto;
	}
	.box-show-info{
		padding: 10px;
	    border-radius: 5px;
	    height: auto;
	    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.19);
	}
	.form-info-acc .item .item-select .item-part-choose{
		padding: 0 3.5px;
    	width: 33.3333%;
	}
	.form-info-acc .button-item{
		margin-top: 15px;
    	margin-bottom: 15px;
	}
	.form-info-acc .button-item a{
		padding-top: 10px;
    	padding-bottom: 9px;
	}
	.form-info-acc form .item p{
		margin-top:3px;
		margin-bottom: 3px;
	}
	.form-info-acc .item input{
		margin-bottom: 10px;
	}
	.form-info-acc .item .item-part-choose select{
		margin-bottom: 10px;
	}
	.account-page23 .box-show-info{
		height: 300px;
	}
	.box-show-info-2 .form-page-24{
		width: 100%;
	}
	.order-item{
		width: 100%;
		padding-top:0;
		padding-bottom: 0;
	}
	.img-order{
		width: 100%;
	}
	.btn-search-style-2:before{
		top:25%;
	}
	.btn-address:before{
		top: 22%;
	}
	.footer-item{
		background-image: none;
	}
	.footer-item:before{
		background:#328125;
	}
	.comment-page .comment textarea{
		border-radius: 5px;
		border: 1px solid #777777;
	}
	.new-left{
		padding-bottom: 0;
	}
	.colcation-item p span{
		margin: 0;
	}
	.location{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.list-account{
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 15px;
	}
	.contact-toby-1{
		padding-top: 20px;
	}
	.page-about-us{
		padding-top:20px;
		padding-bottom: 20px;
	}
	.pagination{
		padding-left:50px;
		padding-right: 50px;
	}
	.pagination li{
		display: none;
	}
	.pagination .page-item{
		display: block;
	}
	.grid-box-page{
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
		grid-auto-rows: 50px;
		grid-gap: 5px;
	}
	.gird-images .images-default{
		width: 80px;
		height:80px;
		top: -15%;
	}
	.achievements-page-grid .title-dark{
		margin-bottom: 20%;
	}
	.list-footer-1 .icon{
		width: 100%;
	}
	.diamond-grid-page {
		margin-top: -15%;
	}
	.grid{
		grid-template: 40px 40px 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px 40px 40px;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	.modal.in .modal-dialog {
		margin-top: 35%;
	}
}
















@media screen and (min-width: 576px) and (max-width: 1300px){
	.grid-image-16 .grid-item .column .img-box-grid .text img {
	    width: 140px;
	    margin-bottom: 10px;
	}
	.grid-image-16 .grid-item .column .img-box-grid .text h4 {
	    font-size: 30px;
	}
	.grid-image-16 .grid-item .column .img-box-grid .text h2 {
	    font-size: 35px;
	}
	.grid-image-16 .grid-item .column .img-box-grid .text p {
	    font-size: 20px;
	    margin-top:5px;
	    margin-bottom: 5px;
	}
	.btn-search-style-2, .btn-address{
		padding-top:15px;
		font-size: 12px;
		padding-left: 25px;
    padding-right: 15px;
	}
	.btn-address{
	
		font-size: 12px;
		padding-left: 25px;
    padding-right: 15px;
	}
	.search-system input{
		width: 27%;
	}
	.search-system{
		overflow: hidden;
		height: 46px;
	}
	.search-system select{
		padding-top: 12px;
    	padding-bottom: 15px;
	}
	.btn-address:before,.btn-search-style-2:before {
	    left: 5px;
	    top: 10px;
	}
	.btn-click-show{
		height: 46px;
	}
	.grid-box-page{
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-auto-rows: 180px;
	}
	.grid-box .grid-info p{
		margin-bottom: 0;
		margin-top: 0;
	}
	.grid-box .grid-info {
		transform: translate(0, 25%);
	}
	.gird-images .images-default{
		top: -12%;
	}
	.diamond-grid-page {
		margin-top: -5% !important;
	}
	.grid{
		grid-template: 80px 80px 80px 80px 80px 80px 80px / 80px 80px 80px 80px 80px 80px 80px;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	
}

@media screen and (min-width: 1300px) and (max-width: 1536px){
	.diamond-grid-page {
		margin-top: -30% !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1300px){
	.diamond-grid-page {
		margin-top: -5% !important;
	}
	.grid{
		grid-template: 120px 120px 120px 120px 120px 120px 120px / 120px 120px 120px 120px 120px 120px 120px;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
}