.header-mobile{
  position: fixed;
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
  z-index: 6;
  background-color: #fff;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.17);
}
.top-header{
  display: flex;
  justify-content: space-between;
  padding-left:12px;
  padding-right: 12px;
  .menu-mobile{
    .humburger{
      span{
        display: block;
        width: 20px;
        height: 3px;
        margin-top: 3px;
        margin-bottom: 3px;
        background: #318124;
      }
    }
  }
  .menu-mobile-active{
    .humburger{
      span{
        &:last-child{
          width: 15px;
        }
      }
    }
  }
  .logo-mobile{
    overflow: hidden;
    width: 135px;
    img{
      width: 100%;
    }
  }
  .cart-icon{
    width: 24px;
    height: 24px;
    a{
      position: relative;
      span{
        position: absolute;
        width: 16px;
        height: 16px;
        background: #ff0000;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        line-height: normal;
        text-align: center;
        top: -9px;
        right: -7px;
        line-height: 18px;
        font-size: 10px;
      }
    }
    img{
      width: 100%;
    }
  }

}
.search-mobile{
  margin-top:10px;
  position: relative;
  padding-left:12px;
  padding-right: 12px;
  input{
    width: 100%;
    border: 1px solid #318124;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    &::placeholder{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #949494;
    }
  }
  a{
    position: absolute;
    right: 10px;
    top: -3px;
  }
}
.list-menu-mobile{
  display: none;
  position: fixed;
  z-index: 10;
  background-color:#fff;
  padding-left:12px;
  padding-right:12px;
  width: 100%;
  height: 500px;
  overflow: scroll;
  padding-bottom: 15px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.17);
    .list-category{
      padding-left: 0;
      padding-right: 0;
      ul{
        padding-left: 0;
        border-bottom: 1px solid #E9E9E9;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        margin-bottom: 0;
        li{
          list-style: none;
          margin-top: 7.5px;
          margin-bottom: 7.5px;
          a{
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            &:hover{
              span{
                color: #318124;
                font-weight: bold;
              }
              .hover{
                display: block;
              }
              img{
                display: none;
              }
            }
            .hover{
              display: none;
            }
            img{
             width: 26px;
            }
            span{
              margin-left: 20px;
              font-size: 14px;
              color: #1C1C1C;
            }
          }
        }
      }
    }
    .online_left{
      .online{
        float:left;
      }
    }
  }

.info-acc-mobile{
  width: 100%;
  margin-top: 10px;
  .name-acc{
    .img{
      width: 36px;
      height:auto;
      a{
        padding: 0;
        img{
          width: 100%;
        }
      }
    }
    .name{
      padding-top:0px;
      a{
        padding: 0;
        display: block;
        margin: 0;
      }
    }
  }
  .list-1{
    margin-top: 0;
    li{
      padding-left: 5px;
    }
  }
}
.hotline-mobile{
  display: flex;
  align-items: center;
  p{
    
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ff0000;
    margin-right: 10px;
    span{
      width: 100%;
      display: block;
      text-align: left;
    }
    a{
      color: #ff0000;
      font-weight: 600;
    }
  }
}
.banner-mobile{
  padding-top: 80px;
  position: relative;
  margin-bottom: 5px;
  img{
    width: 100%;
  }
}
.grid-1-mobile{
  background: #FFFFFF;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  position: absolute;
  top: 95%;
  display: inline-block;
  width: 95%;
  padding-left: 10px;
  padding-right:10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 2.5%;
  .item{
    text-align: center;
    padding: 0 7.5px;
    img{
      width: 20px;
    }
    span{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      text-align: center;
      color: #000000;
    }
  }
}

.product-hot-mobile{
  background-image: none !important;
  padding-top: 45px !important;
  margin-bottom: 15px !important;
  padding-bottom: 0 !important;
  .title-color-mb{
    margin-top: 25px;
    h2{
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 21px;
      color: #318124;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
.title-default-mobile{
  width: 100%;
  margin-top:15px;
  h2{
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      text-transform: uppercase;
      margin-top: 0;
  }
}
.option-choose{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .active{
      background: #318124;
      color:#fff;
    }
  a{
    background: #C5E6C0;
    border-radius: 3px;
    color: #318124;
    width: 30%;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    &:hover{
      background: #318124;
      color:#fff;
    }
  }  
}
.option-choose-style-2{
    display: flex;
    justify-content: space-between;
    .active{
      background: #C5E6C0;
      color: #318124;
      border: none;
    }
  a{
    background: transparent;
    border-radius: 3px;
    color: #4E4E4E;
    width: 30%;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #C4C4C4;
    &:hover{
      background: #C5E6C0;
      color: #318124;
      transition: 0.4s;
    }
  }  
}
.option-choose-style-1{
  padding:0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 -1%;
    .active{
     background: #318124;
      color:#fff;
      a{
        color: #fff;
      }
    }
  li{
    list-style: none;
    border: 0.5px solid #318124;
    background: #fff;
    border-radius: 3px;
    width: 23%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 1px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-top:5px;
    a{
      color: #1C1C1C;
      font-size: 14px;
    }
    &:hover{
      background: #318124;
      a{
        color: #fff;
      }
    }
  }
  
}
.title-video-mobile{
  h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000; 
  }
  
}
.video-item-mobile{
  background: #E5E5E5 !important;
}
.slider-new-mobile{
  display: inline-block;
  width: 100%;
}

.breadcrumb-mobile {
  margin-bottom: 0px;
  margin-top: 30px;
  .ns-breadcrumb {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    .active {
      color: #318124;
      background: transparent;
    }
    li {
      list-style-type: none;
      float: left;
      position: relative;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-right: 15px;
      padding-left:20px;
      &:first-child{
        padding-left:0;
        &:before {
          display: none;
        }
      }
      a {
        color: #000000;
        &:hover {
          text-decoration: none;
        }
      }
      &:before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        left: 0px;
        top: 27%;
        transform: rotateZ(45deg);

      }
    }
  }
}

.checkbox-th{
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  label{
    width: 50%;
    float: left;
  }
}
.checkbox-gb{
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  label{
    width: 50%;
    float: left;
  }
}
.checkbox-nxs{
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  label{
    width: 50%;
    float: left;
  }
}
.top-choose{
  display: flex;
  justify-content: space-between;
  background: #C5E5C0;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  a{
    padding-left: 10px;
    width: 33%;
    position: relative;
     &:last-child{
      &:before{
        display: none;
      }
    }
    &:before{
      position: absolute;
      content: '';
      width: 1px;
      height: 14px;
      background: #1C1C1C;
      right: 0;
      top: 2px;
    }
    &:after{
      position: absolute;
      content: url(../../img/bottom1.png);
      right: 15px;

     }
    &:last-child{
      border: none;
    }
    span{
     color: #1C1C1C;
     position: relative;
     font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
    }
  }
}
.choose-content{
    width: 100%;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
}
.option-choose-style-3{
  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
}
.grid-2-mobile{
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  .item{
    text-align: center;
    padding: 0 7.5px;
    .img{
      width: 100%;
      height: 24px;
      margin-bottom: 5px;
      img{
        max-width: 100%;
      }
    }
    
    a{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      text-align: center;
      color: #000000;
      &:hover{
        color:#318124;
      }
    }
  }
}
.title-default-mobile-style-2{
    display: flex;
    justify-content: space-between;
  h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6B6B6B;
    margin-top: 15px;
    padding-right: 25px;
    position: relative;
    &:hover{
      color: #318124;
    }
    &:before{
       position: absolute;
      content: "\f103";
      font-family: fontawesome;
      transform: rotateZ(-90deg);
      right: 0;
    }
  }
}
.review-left{
  span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #EC9B00;
    &:last-child{
      color: #000;
      font-weight: normal;
      margin-left: 10px;
    }
  }
}