body{
	font-family: 'Roboto', sans-serif;
	/*font-size: 10px;*/
}
.header_top{
	padding: 15px 0px;
}
.header_top .hotline{
	text-align: left;
}
.online_left{
	height: 100%;
}
.online_left .online{
	border: 1px solid #318124;
	width: 122px;
	height: 30px;
	display: flex;
	align-items: center;
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	margin-right: 10px;
}
.online_left .online >div{
	
	height: 100%;
	line-height: 30px;
}
.online_left .online div{
	font-weight: 500;
	color: #fff;
}
.online_left .online p{
	margin: 0px;
	color: #318124;
	margin-left: 8px;

}
.online_left .online >.bg{
	background: #318124;
	width: 70px;
}
.online_left .online >.bg img{
	margin-right: 10px;
}
.online_left .hotline a{
	display: block;	
	font-size: 10px;
	font-weight: normal;
	color: #ff0000;
}
.online_left .hotline span{
	font-weight: 600;
}
.header_top{
	text-align: center;
}
.hotline_a_account{
	height: 100%;
	display: flex;
	align-items: center;
}
.hotline_a_account .hotline{
	display: flex;
	align-items: center;
	margin-right: 30px;
}
.hotline_a_account .hotline p{
	margin: 0px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #ff0000;
}
.hotline_a_account .hotline p img{
	margin-right: 10px;
}
.hotline_a_account .hotline p a{
	color: #ff0000;
	font-weight: 600;
}
.hotline_a_account .hotline p span{
	width: 100%;
	display: block;
	text-align: left;
}
.hotline_a_account .account span{
	display: block;
	font-size: 10px;
	line-height: 12px;
	color: #000000;
	margin-top: 5px;
	font-weight: 500;
}

/*menu*/
.menu_a_cate{
	background: #318124;

}
.cate_pc{
	width:270px;
	float: left;
	height: 52px;
	padding: 15px;
	background: #016818;
	display: flex;
	align-items: center;
	/*position: relative;*/
}
.cate_pc a.dm{
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-transform: uppercase;
}
.cate_pc a.dm i{
	margin-right: 30px;
}
.form_search{
	float: left;
	height: 100%;
	height: 52px;
	padding: 3px 7px;
	width: 43%;
}
.form_search *{
	height: 100%;
	border: 0px;
	outline: none;
}
.form_search form{
	position: relative;
	width: 100%;
	display: flex;
	padding: 0px;
}
.form_search *{
	padding: 0px 10px;
	font-size: 14px;
	color: #4e4e4e;
}
.form_search select{
	width: 20%;
	border-right: 2px solid #318124;
}
.form_search input{
	width: 80%;
}
.form_search button{
	display: flex;
	align-items: center;
	border: 0px;
	background:#fff;
}
.form_search button i{
	height: unset;
	font-size: 2rem;
}
.menu_main > ul > li a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0px 15px;
	display: block;
	height: 52px;
	line-height: 52px;
}
.menu_main > ul > li a:hover, .menu_main > ul > li a.active{
	background: #016818;
}
.cart_icon{
	float: right;
}
.cart_icon a{
	display: block;
	height: 52px;
	position: relative;
	line-height: 52px;
}
.cart_icon a span {
	position: absolute;
	width: 18px;
	height: 18px;
	background: #ff0000;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	line-height: normal;
	text-align: center;
	top: 6px;
	right: -7px;
	line-height: 18px;
}

.list_cate{
	width: 270px;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	/*padding: 10px 0px 0px 0px;*/
	border: 1px solid #dedede;
	left: 15px;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}
.cate_pc:hover .list_cate{
	opacity: 1;
	visibility: visible;
	z-index: 999;
}
.list_cate ul{
	list-style: none;
	padding: 10px 0px 0px 0px;
}
.list_cate >ul{
	position: relative;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}
.list_cate >ul .list_v2{
	position: absolute;
	left: 100%;
	top: 30px;
	width: 100%;
	border: 1px solid #dedede;
	opacity: 0;
	visibility: hidden;
	transition:  all .5s;

}
.list_cate >ul >li:hover .list_v2{
	top: 0px;
	opacity: 1;
	visibility: visible;
	z-index: 999;
}
.list_cate ul a{
	display: block;
	padding: 0px 10px;
	font-size: 12px;
	color: #000000;
	display: flex;
	margin-bottom: 15px;
	align-items: center;

}
.list_cate ul a:hover{
	font-weight: 700;
	color: #318124;
}
.list_cate ul a img{
	margin-right: 12px;
	font-weight: 500;
	width: 26px;
}
.list_cate ul a img.hover{
	display: none;
}
.list_cate ul a:hover img{
	display: none;
}
.list_cate ul a:hover img.hover{
	display: block;
}
.list_cate ul a i {
	padding: 0px 10px;
	font-weight: 600;
	position: absolute;
	right: -4px;
	font-size: 15px;
}
.list_cate ul a:hover i{
	color: #318124;
}
.list_v2{
	padding: 15px 0px 0px 20px;
	height: 100%;
	overflow-y: scroll;
	display: flex;
	background: #fff;
	/*align-items: center;*/
	flex-wrap: wrap;
}
.list_v2 .item  {
	width: 25%;
	float: left;
	padding-right: 20px;
}
.list_v2 .item .header_mn {
	position: relative;
}
.list_v2 .item .header_mn h3{
	margin: 5px 0px;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
	font-weight: 700;
	padding-bottom: 7px;
	border-bottom: 1px solid #dedede;
	margin-top: 15px;
}
.list_v2 .item .header_mn >a{
	position: absolute;
	right: 0;
	top: 0;
	color: #318124;
}
.list_v2 .item ul li a{
	margin: 0px;
	padding:3px  0px;
}
.list_v2::-webkit-scrollbar {
	width: 5px;
}

/* track */
.list_v2::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* handle */
.list_v2::-webkit-scrollbar-thumb {
	background: #318124;
}

/* handle on hover */
.list_v2::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
.cate_product{
	margin-bottom: 20px;
}
/*product*/
.title_cate h2{
	margin: 0px;
	/*margin-top: 28px;*/
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 1px solid #e9e9e9;
	position: relative;
	margin-bottom: 5px;
}
.title_cate h2:after{
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0px;
	width: 170px;
	height: 3px;
	background: #318124;
}
.options{
	float: left;width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e9e9e9;
}
.options ul{
	list-style: none;
	padding: 0px;
}
.options ul li{
	float: left;
}
.options ul li a{ 
	font-size: 14px;
	display: block;
	line-height: 16px;
	color: #6b6b6b;
	padding-right: 20px;
	transition: all .5s;
	/*margin-bottom: 5px;*/
}
.options ul li a:hover,
.options ul li a.active{ 
	color: #000000;
}
.options ul li a.active{ 
	color: #000000;
}
.options >div{
	width: 100%;
}
.options .option_attr{
	float: right;
	width: 550px;
}
.options .option_attr ul li a {
    display: block;
    padding: 0px 20px;
    color: #318124;
    background: #c5e6c0;
    border-radius: 3px;
    margin-left: 12px;
    margin-bottom: 5px;
    transition: all .5s;
    height: 36px;
    /* padding: 0; */
    line-height: 37px;
}
.options .option_attr ul li a:hover,
.options .option_attr ul li a.active{
	background: #318124;
	color: #fff;
}
.list_product{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list_product .item_product{
	width: 25%;
	border: 1px solid #e9e9e9;
	border-top: 0px;
}
.item_product{
	background: #fff;
}
.item_product .img{
	padding: 35%;
	position: relative;
	top: 0;
	left: 0;
}

.item_product .img a{
	display: block;
	position: absolute;
	overflow:hidden;
	left: 0;
	top: 0;
	padding: 5px;
	position: absolute;
	left: 10px;
	top: 10px;
	width:calc(100% - 20px);
	height: calc(100% - 10px);
	text-align: center;
}
.item_product .img a img{
	transition: all .5s;
	max-width: 100%;
	object-fit: fill;
	object-position: center;
	height: 100%;
	/* min-width: 100%; */
	object-fit: cover;
	object-position: center;
}
.item_product .img a:hover img{
	transform: scale(1.1);
}

.item_product .img .sales,
.item_product .img .out_stock{
	position: absolute;
	top: 15px;
	right: 5px;
	z-index: 99;
}
.item_product .img .out_stock{
	width: 79px;
	height: 37px;
	background: #FF0000;
	border-radius: 30px 0px 0px 30px;
	color: #fff;text-align: center;
	line-height: 37px;
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
}
.item_product .img .sales span{
	position: absolute;
	top: 22px;
	left: 10px;
	font-size: 14px;
	line-height: 16px;

	color: #ffffff;
}
.item_product  .text{
	padding:  10px;
	position: relative;

}
.item_product  .text h3{
	margin: 0px;
}
.item_product  .text h3 a{
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	height: 34px;
	overflow: hidden;
	display: block;
	line-height: normal;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	margin-bottom: 11px;

}
.item_product  .text .price{
	font-size: 18px;
	line-height: 21px;
	color: #ff0000;
	font-weight: 700;
	margin: 0px;
	margin-bottom: 10px;
}
.item_product  .text .price span{
	margin-right: 10px;
}
.item_product  .text .price .old{
	font-size: 14px;
	line-height: 16px;
	text-decoration: line-through;
	color: #000000;
	font-weight: 400;
}
.item_product  .text .star{
	font-size: 14px;
	line-height: 16px;
	color: #ff8a00;
	width: calc(100% - 52px);
	display: flex;
	align-items: center;
	margin-bottom: 0px;
}
.item_product  .text .star .icon_star{
	display: flex;
	align-items: center;
}
.item_product  .text .star img{

	margin: 0px 10px;
	margin-top: -6px;
	width: auto !important;
}
.item_product  .text .star .dg{
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.item_product  .text .add_cart{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.qc{
	margin-bottom: 20px;
}
.qc img{
	max-width: 100%;
}
.w_170{
	width: 170px !important;
}
.video_main{
	background: #F3F3F3;
	padding: 30px 0px;
}
.item_video .img{
	padding: 30%;
	position: relative;
}
.item_video .img>img{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;

}
.play_run{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	background: transparent;
	transition: all .5s;
	height: 100%;
}
.play_run:hover{
	background: rgba(0,0,0,.4);
}
.play_run a{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;

}
.play_run span{
	text-align: center;
	line-height: 78px;
	width: 78px;
	height: 78px;
	background: rgba(255,255,255,.5);
	border-radius: 50%;

}
.play_run img{
	margin-left: 7px;
	width: unset !important;
	display: inline !important;
}
.slider_video{
	margin-top: 20px;
}
.news_main{
	margin: 30px 0px;
}
.item_news{
	margin-bottom: 15px;
}
.item_news .img{
	padding: 35%;
	position: relative;
}
.item_news .img a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.item_news .img a img{
	object-fit: fill;
	object-position: center;
	height: 100%;
	max-width: 100%;
	transition: all .5s;
}
.item_news .img a:hover img{
	transform: scale(1.1);
}
.list_news{
	padding: 15px 0px;
}
.item_news .text{
	background: #F3F3F3;
	padding: 10px;
}
.item_news .text h3{
	margin: 0px;
}
.item_news .text h3 a{
	margin: 0px;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	height: 42px;
	-webkit-line-clamp: 2;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.item_news .text p{
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	margin-bottom: 15px;
	color: #000000;
	height: 120px;
	overflow: hidden;
	-webkit-line-clamp: 7;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.item_news .text p.time{
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin: 10px 0px;
	height: unset;
}
.item_news .text p.time img{
	margin-right: 10px;
}
.item_news .text a.more_v{
	font-size: 14px;
	line-height: 16px;
	color: #318124;
	font-weight: 700;
	text-transform: uppercase;
}
.item_news_small{
	display: flex;
	margin-bottom: 15px;
}
.item_news_small .text p.time img{
	margin-right: 10px;
}
.item_news_small .img{
	width: 50%;
	height: 118px;
	overflow: hidden;
}
.item_news_small .text{
	width: 50%;
	padding-left: 15px;
}
.item_news_small .text h3{
	margin: 0px;
	line-height: normal;
}
.item_news_small .text h3 a{
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: #000000;
	display: block;
	max-height: 170px;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
}
.item_news_small .img a{
	display: block;
	width: 100%;
	overflow: hidden;
}
.item_news_small .img img{
	width: 100%;
	transition:  all .5s;
}
.item_news_small .img a:hover img{
	transform: scale(1.1);
}
.bh{
	background-image: url('../../img/images/bgtt.png');
	background-size: cover;
	padding: 30px 0px;
	margin-top:50px;
}
.bh h3{
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	margin: 0px;
	color: #318124;
	margin-bottom: 3%;
}
.bh p{
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	margin: 0px;
	margin-bottom: 3%;
	color: #000000;
}
.bh p:last-child{
	margin-bottom: 2%;
}
.bh .form_lh form{
	width: 100%;
}
.form_lh{
	margin-bottom: 10px;
}
.bh .form_lh .submit_btn {
	width: 126px;
	float: right;
	height: 48px;
	text-align: center;
	background: #318124;
	border-radius: 5px;
	color: #fff;
	padding: 10px;
	line-height: 30px;
	font-weight: 700;
	display: flex;
	align-items: center;
}
.bh .form_lh .submit_btn i{
	font-size: 22px;
}
.bh .form_lh input{
	border: 0px;
	outline: none;
	background: transparent;
	width: calc(100% - 140px);
	height: 48px;background: #fff;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 5px 10px;
}
.bh .form_lh .submit_btn input{
	background: transparent;
	width: 100%;
	text-align: right;font-size: 15px;
}
.like_page{
	    padding: 30px 0px 0px 0px;
    background: #F6F6F6;
}
.item_page{
	margin-bottom: 30px;
}
.item_page h3 {
	font-size: 14px;
	line-height: 16px;
	margin: 0px;
	margin-bottom: 10%;
	font-weight: 400;
	line-height: normal;
	color: #000000;
	height: 34px;
	overflow: hidden;
}
.item_page .like{
	height: 48px;
	display: flex;
	align-items: center;
	position: relative;
}
.item_page .df{
	background: #318124;
	border-radius: 5px;
	height: 48px;
	width: calc(100% - 50px);
	line-height: 48px;
	margin-left: 45px;
	border-radius: 5px;
}
.item_page .fb {
	background-image: url(../../img/images/bgf.png);
	
}
.item_page .y {
	background-image: url(../../img/images/bgy.png);
}
.item_page .text h2 {
	font-size: 14px;
	line-height: 16px;
	margin: 0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 48px;
	border-radius: 5px;
}
.item_page .img {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 0;
	top: -6px;
	border: 6px solid #fff;
	border-radius: 50%;
	background: #fff;
}
.item_page .img img{
	max-width: 100%;
}
.item_page form {
	display: flex;
	align-items: center;
	width: 100%;
	height: 48px;
}
.item_page form input {
	width: 100%;
	background: transparent;
	border: 0px;
	font-size: 14px;
	line-height: 16px;

	color: #FFFFFF;
	padding-left: 10%;
}
.item_page form input::-webkit-input-placeholder { /* Edge */
	color: #FFFFFF;
}

.item_page form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #FFFFFF;
}

.item_page form input::placeholder {
	color: #FFFFFF;
}
.item_page form .btn_submit{
	position: relative;
	padding: 5px 10px;
	font-size: 20px;
	color: #fff;
}
.item_page form .btn_submit input{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}

/*footer*/
footer{
	background-image: url('../../img/images/ft.png');
	background-size: cover;
}
footer h3{
	margin: 0px;
	margin-top: 22px;
	margin-bottom: 20px;
}
footer ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
footer ul li a{
	display: flex;
	font-size: 14px;
	color: #FFFFFF;
}

footer ul li a span{
	width: 40px;
}
footer ul li{
	margin-bottom: 10px;
}
footer ul li a p{
	width: calc(100% - 40px);
	margin: 0px;
	color: #fff;
}
footer ul li a i{
	font-size: 25px !important;
	margin-right: 10px;
	color: #9AFFB0;
}
.cn{
	display: flex;align-items: center;
	margin-left: -10px;
}
.cn a{
	padding: 10px 10px;
	
}
footer .menu_ft{
	padding-top: 20px;
}
footer h4{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #FFFFFF;
}
footer .menu_ft ul li {
	margin-bottom: 7px;
}
footer .menu_ft ul li a{
	font-size: 14px;
	line-height: 16px;

	color: #9AFFB0;
}
.mxh ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 90px;
}
.mxh li{
	width: 33.3%;
	margin-bottom: 10px;
}
footer .mxh ul li a i {
	font-size: 18px !important;
}
.map_ff{
	margin-top: 20px;
}
.coppy_right{
	border-top: 1px solid #9AFFB0;
	padding: 10px 0px 10px 0px;
}
.coppy_right p{
	margin: 0px;
	font-size: 12px;
	line-height: normal;
	text-align: center;
	margin-bottom: 7px;
	color: #9AFFB0;
}
.coppy_right p:last-child{
	margin-bottom: 0px;
}

/*slider*/
.item_slider img{
	max-width: 100%;
}
.main_s{
	position: relative;
}
.banner_camket {
    background: url(../../img/images/q/ti.png) center center;
    /* background: #fff; */
    background-size: cover;
    position: absolute;
    bottom: -214px;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 477px;
    /* padding: 5% 0px; */
    display: flex;
    align-items: center;
}
.item_v .item {

    padding-top: 15px;
}
img{
	max-width: 100%;
}
.item_v{
	width: 50%;
	float: left;
	display: flex;
	padding: 0px 5%;
	align-items: center;
}
.item_v .item{
	width: 50%;
	text-align: center;
}
.item_v .item img{
	margin-bottom: 10px;
}
.item_v .item p{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #000000;
}
.product_hot{
	background: url('../../img/images/hot.png') center center;
	background-size: cover;
	padding: 45px 0px;
	margin-bottom: 20px;
}
.title_hot h2{
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	padding: 15px 0px;
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 5%;
	margin-top: 3%;
}
.title_hot h2:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	right: 0;
	width: 170px;height: 4px;
	background:  #FFE600;
	margin: 0 auto;
}
.product_hot .item_product{
	border: 1px solid #C4C4C4;
}
.product_hot .item_product .text .price span {
	display: block;
}
.sock{
	height: 41px;
	margin-bottom: 10px;
}
.time_clock{
	display: flex;
	align-items: center;
	justify-content: center;
}
.time_clock .item{
	width: 42px;
    margin: 0px 10px;
    background: #E3FFDE;
    border-radius: 5px;
    padding: 2px 5px;
    height: 40px;
        box-shadow: 2px 3px 2px 2px #699d37;
}
.time_clock .item p{
	margin: 0px;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #318124;
}
.time_clock .item p.dd{
	font-size: 10px;
    line-height: 12px;
    color: #000000;
    position: relative;
    padding: 5px 0px;
    margin-top: 2px;
    padding-bottom: 0px;

}
.time_clock .item p.dd:after{
	position: absolute;
	content: '';
	width: 20px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 1px;
	background:#318124;
}
.slick_nav {
	position: relative;
}
.slick_nav .owl-nav{
	width: calc(100% + 110px);
    position: absolute;
    top: calc(50% - 20px);
    left: -55px;
    /*padding: 0px 20px;*/
    height: 0px;
}
.slider_video.slick_nav .owl-nav {
    width: calc(100% + 70px);
    position: absolute;
    top: calc(50% - 20px);
    left: -37px;
    height: 0px;
}
.slider_video.slick_nav .owl-nav button img{
	height: 30px;
}

.slick_nav .owl-next{
	float: right;
}